.game-card {
	border-radius: 50px;
	margin-bottom: 50px;
	&-text {
		flex: 43.7%;
		padding: 45px 0px 45px 35px;
	}
	&-title, &-subtitle {
		padding-bottom: 25px;
	}
	&-description {
		padding-bottom: 30px;
	}
	&-image {
		flex: 50%;
		position: relative;
		&-img {
			position: absolute;
		}
	}
}
.hs {
	&-chameleos {
		right: 0;
		top: -25px;
		z-index: 2;
	}
	&-ilGinot {
		right: -112px;
		bottom: -39px;
	}
	&-malchezar {
		right: 170px;
		top: -31px;
		z-index: 3;
	}
}
.lol-hero {
	bottom: -50px;
    right: -27px;
}
.brawl {
	&-boy {
		right: -50px;
		bottom: 0px;
	}
	&-girl {
		bottom: 0px;
    	right: 300px;
	}
}
.wow-illidan {
	bottom: 0px;
    right: -75px;
}
.steam {
	&-dota {
		right: -78px;
    	bottom: -70px;
		z-index: 2;
	}
	&-pubg {
		bottom: 0;
    	right: 240px;
    	z-index: 1;
	}
}

@media only screen and (max-width: 600px)
{
	.game-card-image-img {width: 100px}

	.hs {
		&-chameleos {
			right: 10vw;
			top: -8vh;
			z-index: 2;
		}
		&-ilGinot {
			right: 0vw;
			bottom: 28vh;
		}
		&-malchezar {
			width: 80px;
			right: 25vw;
			top: -10vh;
			z-index: 3;
		}
	}

	.lol-hero {
		bottom: 5vh;
		right: 0vw;
	}

	.brawl {
		&-boy {
			right: -3vw;
			bottom: 0px;
		}
		&-girl {
			bottom: 0px;
			left: -50vw;
		}
	}

	.wow-illidan {
		bottom: 0px;
		right: -3vw;
		width: 120px;
	}
	.steam {
		&-dota {
			right: -5vw;
			bottom: -5vh;
			z-index: 2;
		}
		&-pubg {
			bottom: -10vh;
			right: 70vw;
			z-index: 1;
		}
	}
}